<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const ROOM_ID = "<%= roomId %>";
      const PORT = "<%= port %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Zoom Clone</title>
    <style>
      body,
      #container {
        background-color: black;
        color: white;
      }
      .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
      }
      #main-video {
        overflow: hidden;
        margin: 5px;
      }
      video {
        height: 95%;
        width: 95%;
        object-fit: cover;
      }
      .video-container {
        overflow: hidden;
        margin: 5px;
      }
      .user-label {
        text-align: center;
      }
      .user-label label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 10em;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="container" class="container-fluid">
      <div class="row justify-content-md-center">
        <div id="main-video" class="col-sm-8 col-lg-5 col-md-8"></div>
      </div>
      <div id="video-grid" class="row"></div>
    </div>
  </body>
</html>
